{% extends "base.html" %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{form}}
<a class="backlink" href="/">Home</a>
<button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
