{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Django Blog</title>
      <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
  </head>
  <body>
 <body>   
   <div id="header">  {# header begins here #}
     <ul id="control-bar">
       {% if user.is_authenticated %}
         {% if user.is_staff %}
           <li><a href="{% url 'admin:index' %}">admin</a></li>
         {% endif %}
         <li><a href="{% url 'logout' %}">logout</a></li>
       {% else %}
         <li><a href="{% url 'login' %}">login</a></li>
       {% endif %}
     </ul>
    </div>           {# header ends here #}
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>
</html>
